body {
    font-family: Arial, sans-serif;
}


/* 

        Nav Bar

*/

nav {
    color: #525252;
    font-size: 13px;
    position: relative;
    padding: 12px 12px;
    display: flex;
    justify-content: space-between;
}


.left-nav {
    padding: 0 0;
}

.left-nav a{
    text-decoration: inherit;
    color: inherit;
    margin: 0 0 0 8px;
}

.right-nav {
    padding: 0 0;
}

.right-nav a {
    text-decoration: inherit;
    color: inherit;
    margin: 0 8px 0 0;
}

.left-nav a:hover, .right-nav a:hover{
    text-decoration: underline;
}
.sign-in-button {
    background-color: #4285f4;
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    padding: 7px 12px;
}


/* 

        Center Elements

*/

.center-block{
}

.center-elements {
    display: block;
    margin: 0 auto;
}

.center-block img{
    padding: 110px 0 0 0;
}

.search-elements {
    display: block;
    margin: 40px auto;
}

.center-elements .search-bar{
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    height: 20px;
    width: 430px;
    border:1px solid #eaeaea;
    outline:none;
}

.search-buttons {
    text-align: center;
}

.search-elements button {
    border-radius: 8px;
    background: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #525252;
    cursor: default;
    font-size: 14px;
    margin: 0 5px;
    padding: 0 16px;
    height: 36px;
}


/* 

        Footer

*/

footer {
    background-color: #f2f2f2;
    border-top: 1px solid #d2d2d2;
    color: #727272;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.left-footer {
    padding: 12px 25px;
}

.left-footer a{
    text-decoration: inherit;
    color: inherit;
    margin: 0 14px 0 0;
}

.right-footer {
    padding: 12px 25px;
}

.right-footer a{
    text-decoration: inherit;
    color: inherit;
    margin: 0 0 0 14px
}

.left-footer a:hover, .right-footer a:hover{
    text-decoration: underline;
}